* {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-tap-highlight-color: transparent
}

*::-webkit-scrollbar {
    display: none
}

html {
    font-size: 16px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color--txt-200);
    -webkit-box-shadow: 0 0 0px 40rem var(--color--primary-100) inset;
    border-bottom: 1px solid var(--color--stroke-200);
    outline: none
}

.inline-link span {
    text-decoration: underline
}

html.lenis,html.lenis body {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto!important
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-smooth iframe {
    pointer-events: none
}

.loader {
    overflow: hidden
}

.loader__logo-overlay {
    width: 100%;
    height: 100%;
    z-index: 250;
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    --columns: 1;
    grid-template-columns: repeat(var(--columns),1fr)
}

.loader__logo-overlay div {
    background: var(--color--bg-200);
    transform: scale(1.1)
}

.view-transition {
    width: 100%;
    height: 100%;
    pointer-events: none
}

.view-transition .canvas {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    grid-template-columns: repeat(var(--columns),1fr)
}

.view-transition .canvas div {
    background: var(--color--bg-200)
}

.view-transition .filter {
    width: 100%;
    height: 100%;
    z-index: 350;
    pointer-events: none;
    opacity: 0
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    pointer-events: none;
    display: block;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .4s ease,height .4s ease,background-color .4s ease,border-color .4s ease,border-width .4s ease,opacity .4s ease,border-radius .4s ease
}

.cursor__shape {
    width: 16px;
    height: 16px;
    background: var(--color--primary-100);
    border-radius: 100px;
    z-index: 100;
    position: absolute;
    transition: width .4s ease,height .4s ease,background-color .4s ease,border-color .4s ease,border-width .4s ease,opacity .4s ease,border-radius .4s ease
}

@media (hover: none) and (pointer: coarse) {
    .cursor {
        display:none
    }
}

.logo-pointer .cursor__shape {
    height: 64px;
    width: 64px;
    border-radius: 0;
    background: #ffffff1a;
    -webkit-backdrop-filter: invert(100%) contrast(150%);
    backdrop-filter: invert(100%) contrast(150%);
    border: 0px solid #fff
}

.cursor-pointer .cursor__shape {
    border-radius: 0
}

.cursor-nav .cursor__shape {
    width: 64px;
    height: 32px;
    background: #ffffff1a;
    -webkit-backdrop-filter: invert(100%) contrast(150%);
    backdrop-filter: invert(100%) contrast(150%)
}

.cursor-preview .cursor__shape,.state-works .cursor-case .cursor__shape,.cursor-gallery-preview .cursor__shape {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color--txt-900);
    background: #fff;
    transition: padding .3s ease,background-color .3s ease;
    position: absolute
}

.cursor__text {
    position: relative;
    z-index: 200;
    padding: 16px
}

.cursor__text:before {
    opacity: 0;
    z-index: 200
}

.state-works .cursor-case .cursor__text:before {
    content: "Explore";
    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease
}

.cursor-preview .cursor__text:before {
    content: "Explore";
    display: inline-block;
    opacity: 1;
    transition: all .3s ease
}

.cursor-gallery-preview .cursor__text:before {
    content: "Next work";
    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease
}

.cursor-gallery .cursor__shape {
    width: 48px;
    height: 48px;
    background: #ffffffe6;
    text-align: center;
    border-radius: 32px;
    transition: width .3s ease,height .3s ease
}

.cursor__icon {
    opacity: 0;
    position: relative;
    z-index: 200
}

.cursor-gallery .cursor__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(https://cdn.prod.website-files.com/6601265d12cfb7c5c35fc294/66fc40a2642c2a9fa91769f8_maximaze.svg) no-repeat center center;
    background-size: contain;
    opacity: 1;
    transform: rotate(-180deg);
    transition: opacity .5s ease,transform .5s ease
}

.fullscreen-case .cursor-gallery .cursor__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(https://cdn.prod.website-files.com/6601265d12cfb7c5c35fc294/66fc40a26d6c5153cfec2b59_minimize.svg) no-repeat center center;
    background-size: contain;
    opacity: 1;
    transform: rotate(180deg);
    transition: opacity .5s ease,transform .5s ease
}

.cursor-input .cursor__shape {
    width: 1px;
    height: 20px;
    background: #fff
}

.input__field:focus+.input__focus-indicator {
    width: 100%
}

.button:hover {
    background-color: #fff;
    color: var(--color--txt-900);
    border-radius: 90px
}

.cursor-light .cursor__shape {
    background: #fff6;
    -webkit-backdrop-filter: invert(100%) contrast(150%);
    backdrop-filter: invert(100%) contrast(150%)
}

.cursor-button .cursor__shape {
    background: #fff;
    opacity: 0;
    width: 120px;
    height: 48px
}

.navbar__close-btn-text .split-line {
    cursor: pointer
}

.navbar__menu-overlay {
    grid-area: 1 / 1 / -1 / -1;
    pointer-events: none;
    opacity: 0;
    --columns: 1;
    grid-template-columns: repeat(var(--columns),1fr)
}

.navbar__menu-overlay div {
    background: var(--color--bg-200)
}

.nav-item {
    opacity: 0
}

.hero__bg-plane-img {
    visibility: hidden
}

.hero__bg {
    position: fixed
}

.preview-item__overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #faf8f833;
    opacity: 0
}

@media (hover: none) and (pointer: coarse) {
    .preview-item__info {
        display:none
    }
}

.cases {
    top: 0;
    position: relative;
    z-index: 200;
    height: 0;
    overflow: hidden
}

.cases::-webkit-scrollbar {
    display: none
}

.case-grid {
    top: 0;
    position: fixed;
    z-index: 100;
    height: 0vh;
    overflow: scroll;
    scrollbar-width: none!important;
    -ms-overflow-style: none
}

.case {
    height: auto;
    min-height: auto;
    display: none
}

.case__meta {
    display: none
}

.case__meta-date span:last-child {
    margin-left: .2em
}

.case__extra {
    width: 0px
}

.case__description {
    display: none;
    position: relative;
    z-index: 100
}

.case__gallery {
    overflow: hidden
}

.fullscreen-case .case__gallery {
    min-height: 100dvh
}

.fullscreen-case .case__info {
    display: none
}

@media screen and (max-width: 991px) {
    .fullscreen-case .cases__gallery-content {
        flex-flow:column;
        width: 100%
    }

    .fullscreen-case .case__gallery-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4px
    }

    .fullscreen-case .case__gallery-next {
        min-height: 40vh
    }
}

.case-grid -webkit-scrollbar {
    display: none
}

.cases-transition {
    width: 100%;
    height: 100%;
    pointer-events: none
}

.cases-transition .canvas {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    opacity: 0;
    grid-template-columns: repeat(var(--columns),1fr)
}

.cases-transition .canvas div {
    background: var(--color--bg-200);
    transform: scale(1.02)
}

.cases-transition .filter {
    pointer-events: none;
    opacity: 0
}

.cases__active .cases__content {
    padding-bottom: clamp(16px,2vw,24px)
}

.case__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200
}

.state-work-details .footer {
    display: none
}

.state-works .cases__content {
    padding-bottom: clamp(40px,24vw,120px)
}

.state-work-details .main {
    opacity: 0;
    visibility: hidden;
    height: 0px
}

.state-work-details .cases {
    visibility: visible;
    height: auto
}

.state-works .cases {
    height: 100%
}

.state-works .main {
    height: 0px;
    visibility: hidden
}

body.active-case .cases {
    height: 100%
}

*[data-interaction=text-hover] .split-line:nth-child(2) {
    opacity: 1;
    top: 0;
    position: absolute!important
}

.title svg {
    overflow: visible!important
}

.title-shape_contacts {
    fill: var(--color--bg-200)!important
}

.about__intro {
    position: fixed
}

.works {
    padding-bottom: 10vh
}

.nav-item__text:hover {
    color: #f1faff
}

.title {
    pointer-events: none
}


